---
- name: Configure infrastructure
  hosts: all
  become: true
  tasks:
    - name: Include OS-specific variables
      include_vars: "{{ item }}"
      loop:
        - "group_vars/webservers.yml"
        - "group_vars/database.yml"
        - "group_vars/redmine.env"
      when: inventory_hostname in groups[item.split('/')[-1].split('.')[0]]

- name: Setup Docker and dependencies
  hosts: webservers
  tags: docker
  roles:
    - role: geerlingguy.docker
      vars:
        docker_users:
          - mvikonnikov

- name: Configure Load Balancer
  hosts: webservers
  tags: loadbalancer
  tasks:
    - name: Install NGINX
      apt:
        name: [nginx, certbot]
        state: present

    - name: Configure LB
      template:
        src: templates/nginx-lb.conf.j2
        dest: /etc/nginx/conf.d/load-balancer.conf
      notify: restart nginx

    - name: Install Certbot for SSL
      apt:
        name: certbot
        state: present
      when: inventory_hostname == groups.webservers[0]  # Только на первом сервере

    - name: Generate SSL certificate
      command: >
        certbot --nginx -d yourdomain.com 
        --non-interactive --agree-tos 
        -m your@email.com
      when: inventory_hostname == groups.webservers[0]

    - name: Get SSL certificate
      command: certbot --nginx -d yourdomain.com --non-interactive --agree-tos -m your@email.com
      when: inventory_hostname == groups.webservers[0]  # Выполняем только на первом сервере

  handlers:
    - name: restart nginx
      service:
        name: nginx
        state: restarted

- name: Setup Database
  hosts: database
  tags: database
  tasks:
    - name: Install PostgreSQL
      apt:
        name: postgresql
        state: present

    - name: Configure firewall rules
      ufw:
        rule: allow
        from_ip: "{{ hostvars[item].ansible_host }}"
        port: 5432
      loop: "{{ groups.webservers }}"

- name: Deploy Redmine
  hosts: webservers
  tags: deploy
  tasks:
    - name: Ensure app directory exists
      file:
        path: /opt/redmine
        state: directory
        mode: 0755

    - name: Create .env config
      template:
        src: templates/redmine.env.j2
        dest: /opt/redmine/.env

    - name: Run Redmine container
      docker_container:
        name: redmine
        image: redmine:latest
        state: started
        restart_policy: always
        ports:
          - "3000:3000"
        volumes:
          - redmine_data:/usr/src/redmine/files
        env_file: /opt/redmine/.env