---
- name: Configure infrastructure
  hosts: all
  become: true

  tasks:
    - name: Include OS-specific variables
      ansible.builtin.include_vars: "{{ item }}"
      loop:
        - "group_vars/webservers.yml"
        - "group_vars/database.yml"
        - "group_vars/redmine.env"
      when: inventory_hostname in groups[item.split('/')[-1].split('.')[0]]

- name: Setup Docker and dependencies
  hosts: webservers
  tags: docker
  roles:
    - role: geerlingguy.docker
      vars:
        docker_users:
          - mvikonnikov

- name: Configure Load Balancer
  hosts: webservers
  tags: loadbalancer
  tasks:
    - name: Install NGINX and Certbot
      ansible.builtin.apt:
        name:
          - nginx
          - certbot
        state: present

    - name: Configure LB
      ansible.builtin.template:
        src: templates/nginx-lb.conf.j2
        dest: /etc/nginx/conf.d/load-balancer.conf
        mode: "0644"
      notify: Restart Nginx

    - name: Generate SSL certificate
      ansible.builtin.command: >
        certbot --nginx -d webpinger.net
        --non-interactive --agree-tos
        -m mishaikon@gmail.com
      when: inventory_hostname == groups.webservers[0]
      args:
        creates: /etc/letsencrypt/live/webpinger.net/fullchain.pem

  handlers:
    - name: Restart Nginx
      ansible.builtin.service:
        name: nginx
        state: restarted

- name: Setup Database
  hosts: database
  tags: database
  tasks:
    - name: Install PostgreSQL
      ansible.builtin.apt:
        name: postgresql
        state: present

    - name: Configure firewall rules
      community.general.ufw:
        rule: allow
        from_ip: "{{ hostvars[item].ansible_host }}"
        port: 5432
      loop: "{{ groups.webservers }}"

    - name: Create database and user
      community.postgresql.postgresql_db:
        name: "{{ db_name }}"
        encoding: UTF8
        lc_collate: C
        lc_ctype: C
        template: template0

    - name: Create database user
      community.postgresql.postgresql_user:
        name: "{{ db_user }}"
        password: "{{ db_password }}"
        db: "{{ db_name }}"
        priv: "ALL"

- name: Deploy Redmine with DB
  hosts: webservers
  tags: deploy
  tasks:
    - name: Ensure app directory exists
      ansible.builtin.file:
        path: /opt/redmine
        state: directory
        mode: "0755"

    - name: Create .env config from template
      ansible.builtin.template:
        src: templates/redmine.env.j2
        dest: /opt/redmine/.env
        mode: "0644"

    - name: Run Redmine container with DB
      community.docker.docker_container:
        name: redmine
        image: redmine:latest
        state: started
        restart_policy: always
        ports:
          - "3000:3000"
        volumes:
          - redmine_data:/usr/src/redmine/files
        env: "{{ redmine_env }}"
