upstream redmine {
  {% for host in groups.webservers %}
  server {{ hostvars[host].ansible_host }}:3000;
  {% endfor %}
}

server {

  listen 443 ssl;
  server_name webpinger.net;

  ssl_certificate /etc/letsencrypt/live/webpinger.net/fullchain.pem;
  ssl_certificate_key /etc/letsencrypt/live/webpinger.net/privkey.pem;

  listen 80;
  server_name webpinger.net;

  location / {
    proxy_pass http://redmine;
    proxy_set_header Host $host;
  }
}
